import("survival")
importFrom("graphics", "arrows", "plot", "text")
importFrom("Matrix", "Diagonal")
importFrom("lme4", "getME","lmer")
importFrom("lcmm", "hlme","Jointlcmm","predictY")
importFrom("methods", "as")
importFrom("graphics", "par", "lines", "persp")
importFrom("stats", "as.formula", "formula", "model.matrix", "runif", "sigma","optimize",
           "complete.cases", "model.frame", "na.pass", "logLik",
             "optim", "pchisq", "pnorm", "update","dnorm","glm","var")
importFrom("mvtnorm","dmvnorm")
S3method(plotrandomeffects, smoothmixed)
S3method(plotrandomeffects, smoothJM)
S3method(plot,smoothmixed)
S3method(summary,smoothmixed)
exportMethods(plotrandomeffects)
export(plotrandomeffects)
export(smoothmixed)
export(smoothJM)
export(smoothJM2)
export(smoothmixedSE)
